.arsenal {
    color: $foreground;
    height: 100vh;
    overflow: hidden;

    * {
        transition: background-color 0s, border-color 0s;
    }

    .background {
        position: absolute;
        z-index: -2;
        margin: 0px;
        width: 100vw;
        height: 100vh;
        background-size: 40px 40px;
        background-image: radial-gradient(circle, $arsenal-grid-color 1px, rgba(0, 0, 0, 0) 1px);
        background-color: $arsenal-background-color;
    }

    .arsenal-tooltip {
        background-color: $background;
        border-radius: 2px;
        font-size: 0.75rem;
        outline: none;
        border: none;
    }

    .categories, .category-panel, .center-panel {
        height: 100%;
        float: left;
    }
    
    .categories {
        width: 2.75%;
        overflow-y: scroll;
        scrollbar-width: none;
        padding: 5px;
        display: flex;
        flex-direction: column;
        overflow: visible;
    }
    
    .category-panel {
        width: 20%;
        padding: 5px 0px 5px 0px;
        
        .panel {
            background-color: $background;
            border: 1px solid $border-color;
            //overflow-y: auto;
            height: 100%;

            //@include scrollbar(0.3rem);
    
            & > .title {
                padding: 0.15rem;
                background-color: $background-200;
                font-weight: 500;
                font-size: 1.3rem;
                text-align: center;
                margin-bottom: 1px;
            }

            & > .total-price {
                position: absolute;
                bottom: 0.3rem;
                width: 19.9%;

                padding: 0.15rem;
                background-color: $background-200;
                text-align: left;

                & > span.price {
                    float: right;
                }
            }
        }
    }
    
    .center-panel {
        width: 54.5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
