.list-item .tooltip {
    width: 100%;
    display: block;
}

.list-item, .preview-container .list-item {
    background-color: $background-100;
    margin-bottom: 1px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: visible;

    .title {
        padding: 1.25rem 0.5rem 1.25rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 4rem;

        & > span {
            width: 62%;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-height: 1.5rem;
            max-height: 1.5rem * 2;
        }

        .buylist-content {
            display: grid;
            grid-template-columns: 1rem auto;
            gap: 0.2rem;
            width: 38%;

            & > .buylist-store {
                grid-column: 1;
                display: block;
            }

            & > .buylist-price {
                grid-column: 2;
                display: block;
                text-align: right;
            }

            span {
                vertical-align: middle;
            }
        }
    }

    &.selected > .title {
        background-color: $active-background;
    }

    & > .body {
        background-color: $background-100;
        transition: 0.25s linear height;
        padding: 0rem 0.2rem;
        padding-bottom: 0;
        font-size: 0.75rem;
        overflow-y: scroll;
        cursor: auto;
        height: 0px;

        @include scrollbar(0.3rem);
    }

    &.selected > .body {
        padding: 0.5rem;
        height: 6rem;
    }

    .title > .preview {
        width: 50px;
        img {
            width: 100%;
        }
    }
}

.list-item .checkbox {
    position: relative;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    user-select: none;

    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input[type=checkbox]:checked ~ .checkbox-checkmark {
        /* background-color: $active-background; */
        border: 1px solid $disabled-foreground;
    }

    input[type=checkbox]:checked ~ .checkbox-checkmark:after {
        display: block;
    }

    .checkbox-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 3px;
        border: 1px solid $border-color;
        background-color: transparent;

        &:hover {
            background-color: $active-background;
        }

        &:after {
            content: "";
            position: absolute;
            display: none;

            left: 2px;
            top: 3px;
            width: 17px;
            height: 12px;
            border: solid $foreground;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}