$background: rgb(247, 248, 249);
$foreground: black;
$muted-foreground: rgb(76, 76, 76);

$active-background: black;
$active-foreground: white;

$disabled-background: $background;
$disabled-foreground: rgb(214, 214, 214);

$border-color: black;
$active-border-color: black;
$disabled-border-color: rgb(214, 214, 214);

$modal-background: rgba(247, 248, 249, 0.65);