.modal, .email-modal {
    color: $foreground;

    /* Full screen background cover */
    & > div.transition-opacity {
        background-color: $modal-background;
    }

    div.modal-body, form.modal-body {
        background-color: $background;
        color: $foreground;
        border: 1px solid $border-color;
        padding: 1rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    label {
        color: $foreground;
    }

    input, select, textarea, [role=button] button {
        background-color: $background;
        color: $foreground;
        border: 1px solid $border-color;
        --tw-ring-inset: none;

    }

    *:disabled, [disabled] {
        color: $muted-foreground;
        background-color: $background;
        cursor: default;
    }

    button.loading {
        cursor: default;

        .loader {
            display: block;
        }
    }

    button .loader {
        display: none;
        border: none;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        --d: 5px;
        --s: 1px;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        color: $modal-background;
        box-shadow: 
            calc(1 * var(--d))      calc(0*var(--d))     0 0,
            calc(0.707 * var(--d))  calc(0.707*var(--d)) 0 calc((var(--s) / 6) * 1),
            calc(0 * var(--d))      calc(1*var(--d))     0 calc((var(--s) / 6) * 2),
            calc(-0.707 * var(--d)) calc(0.707*var(--d)) 0 calc((var(--s) / 6) * 3),
            calc(-1 * var(--d))     calc(0*var(--d))     0 calc((var(--s) / 6) * 4),
            calc(-0.707 * var(--d)) calc(-0.707*var(--d))0 calc((var(--s) / 6) * 5),
            calc(0 * var(--d))      calc(-1*var(--d))    0 calc((var(--s) / 6) * 6);
        animation: l27 1s infinite steps(8);

        @keyframes l27 {
            100% {transform: rotate(1turn)}
        }
    }

    ul[role=listbox] {
        background-color: $background;
        border: 1px solid $border-color;
        --tw-ring-inset: none;
        --tw-bg-opacity: 0;

        @include scrollbar;
        
        li {
            color: $foreground;
    
            img {
                background-color: $background;
                border: 1px solid $border-color;
                width: 1.5rem;
            }

            .iconify {
                color: $foreground;
            }
    
            &:hover {
                background-color: $active-background;

                .iconify {
                    color: $active-foreground;
                }
            }

            &.bg-gray-100 {
                color: $active-foreground;
                background-color: $active-background !important;

                .iconify {
                    color: $active-foreground;
                }
            }

        }
    }

    div.button-group {
        display: flex;
        justify-content: space-between;
    }

    div.tag-editor {
        input {
            background-color: $background;
            color: $foreground;
            border: 1px solid $border-color;
            --tw-ring-inset: none;
        }

        ul > .tag {
            background-color: $background;
            color: $foreground;
            border: 1px solid $border-color;
            border-radius: 0.5rem;
            padding: 0.2rem 0.5rem;
        }
    }
}