/* Used for color vars */

header.sitenav {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0rem 0.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: $background ;
    border-bottom: 1px solid $border-color;
    transition: background-color 0.5s;
    min-height: 4.625rem;

    img {
        max-height: 2.8rem;
        width: 10%;
    }

    nav {
        height: 2.8rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 25%;

        a {
            border: 1px solid $border-color;
            padding: 0.5rem 0.75rem;
            border-radius: 0.2rem;
            height: 100%;

            &.active {
                background-color: $active-background;
                color: $active-foreground;
            }

            &.disabled {
                border-color: $disabled-border-color;
                background-color: $disabled-background;
                color: $disabled-foreground;
                cursor: auto;
            }

            &:hover:not(.active, .disabled) {
                background-color: $active-background;
                color: $active-foreground;
            }
        }
    }

    .search-container {
        width: 35%;
        height: 2.8rem;

        input {
            background-color: transparent;
            width: 100%;
            padding: 0.5rem 0.75rem;
            border-radius: 0.2rem;
            border: 1px solid $border-color;
            height: 100%;
        }
    }

    .user-container {
        display: flex;
        padding: 1rem;
        gap: 1rem;
        width: 20%;

        a, button {
            border: 1px solid $border-color;
            padding: 0.5rem 0.75rem;
            border-radius: 0.2rem;
            height: 100%;

            &:hover {
                color: $active-foreground;
                background-color: $active-background;
            }
        }

        span.user {
            border: 1px solid $border-color;
            border-radius: 0.2rem;
            padding: 0.5rem 0.75rem;
            height: 100%;
        }
    }

    .settings-container {
        width: 10%;
        height: 2.8rem;
        display: flex;
        gap: 1rem;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $border-color;
            padding: 0.5rem 0.75rem;
            border-radius: 0.2rem;
            height: 100%;

            &:hover {
                background-color: $active-background;
                color: $active-foreground;
            }

        }
    }
}