div.loadout-details {
  margin: 0;
  position: fixed;
  z-index: 50;
  background-color: $modal-background;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div.body {
    width: 40%;
    height: 80%;
    background-color: $background;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    & > h1 {
      font-size: 2.5rem;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid $border-color;
    }

    & > div.details {
      width: 100%;
      flex-grow: 1;
      display: flex;
      padding: 0.5rem;
      border-bottom: 1px solid $border-color;
      gap: 1rem;

      header {
        width: 50%;
        display: flex;
        flex-direction: column;

        p {
          height: 15.5rem;
          border-bottom: 1px solid $border-color;
        }

        div.tags {
          width: 100%;
          display: flex;
          gap: 0.5rem;
          padding-top: 1rem;

          & > div {
            color: $muted-foreground;
          }
        }
      }

      & > div.meta {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;
  
        & > div.preview {
          border: 1px dashed black;
          border-radius: 0.5rem;
          background: radial-gradient(circle, #1c1917 1px, rgba(0, 0, 0, 0) 1px);
          background-size: 30px 30px;
          background-color: rgb(168, 162, 158);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 15rem;
  
          img {
              height: 100%;
          }
        }

        div.statistics {
          width: 100%;
          display: flex;
          justify-content: center;

          div {
            flex-grow: 1;
            cursor: default;

            &.visibility, &.views, &.likes {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.2rem;

              & > span {
                color: $muted-foreground;
              }
            }

            &.likes {
              cursor: pointer;
            }
          }
        }
  
      }
    }

    div.comments {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: hidden;

      & > textarea[name=comment] {
        border: 1px solid $border-color;
        background-color: $background;
        color: $foreground;
        height: 5rem;
        margin-bottom: 1rem;
      }
      
      & > section {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 0.5rem;

        @include scrollbar;

        & > div {
          border: 1px solid $border-color;
  
          div.author {
            border-bottom: 1px solid $border-color;
          }
  
          div.details {
            font-size: 0.65rem;
            text-decoration: underline;
          }
  
          div, p {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}