div.loadout-details {
  margin: 0;
  position: fixed;
  z-index: 50;
  background-color: $modal-background;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 0; /* Initially invisible */
  transform: scale(0.9); /* Slightly smaller initially */
  transition: opacity 0.2s ease-in-out, transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* For both pop-in and pop-out effect */

  /* Modal shown (pop-in effect) */
  &.visible {
    opacity: 1;
    transform: scale(1); /* Full scale */
    transition: opacity 0.2s ease-in-out, transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  /* Modal hidden (pop-out effect) */
  &.hidden {
    visibility: hidden; /* Hide the modal, no interaction */
    opacity: 0; /* Fade out */
    transform: scale(0.9); /* Shrink */
    transition: opacity 0.2s ease-in-out, transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Smooth transition */
  }

  div.body {
    max-width: 40%;
    width: 100%;
    background-color: $background;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;

    @media (max-width: 768px) {
      max-width: 90%;
    }

    & > .owner-container {
      display: flex;
      border-bottom: 1px solid $border-color;
      align-items: center;
      padding: 0.5rem;
      gap: 1rem;

      & > div.avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid $border-color;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      & > .identity {
        display: flex;
        flex-direction: column;
        line-height: 1;

        .username {
          color: $muted-foreground;
          font-size: smaller;
        }
      }
    }

    & h1 {
      margin: 0rem 0.5rem;
      margin-top: 1rem;
      border-bottom: 1px solid $border-color;
      font-size: 2.5rem;
      text-align: left;
    }

    & > div.details {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      padding: 0.5rem;
      padding-top: 0;
      border-bottom: 1px solid $border-color;

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      header {
        width: 50%;
        display: flex;
        flex-direction: column;

        p {
          height: 15.5rem;
          border-bottom: 1px solid $border-color;
        }

        div.tags {
          width: 100%;
          display: flex;
          gap: 0.5rem;
          padding-top: 1rem;
        }
      }

      & > div.meta {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;

        @media (max-width: 768px) {
          width: 100%;
        }

        & > div.preview {
          border: 1px dashed black;
          border-radius: 0.5rem;
          background: radial-gradient(circle, #1c1917 1px, rgba(0, 0, 0, 0) 1px);
          background-size: 30px 30px;
          background-color: rgb(168, 162, 158);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 15rem;

          img {
            height: 100%;
          }
        }

        div.statistics {
          width: 100%;
          display: flex;
          justify-content: center;

          div {
            flex-grow: 1;
            cursor: default;

            &.visibility, &.views, &.likes {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.2rem;

              & > span {
                color: $muted-foreground;
              }
            }

            &.likes {
              cursor: pointer;
            }
          }
        }
      }
    }

    .button-row {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
    }

    .comments-preview {
      width: 100%;
      padding: 0.5rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid $border-color;
  
      & > span {
        text-align: center;
        margin-bottom: 1rem;

        &.empty {
          color: $muted-foreground;
        }
      }
    }
  }


  .comments-side-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: $background;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 60;

    &.visible {
      transform: translateX(0);
    }

    .comments-header {
      padding: 1rem;
      background-color: $background;
      color: $foreground;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: $background;
        color: $foreground;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
      }
    }

    .comments-list {
      background-color: $background;
      padding: 1rem;
      overflow-y: auto;
      max-height: 90vh;

      .comment-item {
        border-bottom: 1px solid $border-color;
        padding: 0.5rem 0;

        .author {
          font-weight: bold;
          color: red;
        }

        .content {
          margin-top: 0.5rem;
          font-size: 0.9rem;
          color: $foreground;
        }

        .timestamp {
          font-size: 0.75rem;
          color: $muted-foreground;
          margin-top: 0.3rem;
        }
      }
    }
  }

  /* Button Styles */
  button {
    width: 15rem;
    border-radius: 1rem;
    background-color: $background;
    border: 1px solid $border-color;
    color: $foreground;
    padding: 0.5rem 0.75rem;
    text-align: center;
    justify-content: center;

    &:disabled, [disabled] {
      color: $muted-foreground;
      background-color: $background;
      cursor: default;
    }

    &:hover:not([disabled], :disabled) {
      background-color: $active-background;
      color: $active-foreground;

      &.danger {
        background-color: $color-danger;
      }
    }
  }
}
