@import 'globals.scss';

html {
    font-family: $main-font, 'Courier New', Courier, monospace;
    color: $font-color;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #1c1917 1px, rgba(0, 0, 0, 0) 1px);
    background-color: rgb(168, 162, 158);
}

.arsenal {
    height: 100vh;
    
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.categories, .category-panel, .preview {
    height: 100%;
    float: left;
}

.categories {
    width: 3%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 5px;
    display: flex;
    flex-direction: column;

    .category {
        background-color: rgba(85, 85, 85, 0.6);
        border: 1px solid rgb(0, 0, 0);
        cursor: pointer;
        width: 100%;
        aspect-ratio: 1 / 1;
        margin-bottom: 5.55px;
        user-select: none;

        &:hover {
            background-color: rgba(255, 255, 255, 0.25);
        }

        &.selected {
            background-color: rgba(255, 255, 255, 0.25);
        }
    }
}

.category-panel {
    width: 20%;
    padding: 5px 0px 5px 0px;
    
    .panel {
        background-color: rgba(85, 85, 85, 0.6);
        border: 1px solid rgb(0, 0, 0);
        height: 100%;

        .title {
            padding: 0.15rem;
            background-color: rgba(23, 23, 23, 0.6);
            font-weight: 500;
            font-size: 1.3rem;
            text-align: center;
        }

        .item {
            background-color: rgba(85, 85, 85, 0.6);
            margin-bottom: 1px;
            cursor: pointer;
            user-select: none;
            
            .item-title {
                padding: 1.25rem 0.5rem 1.25rem 0.5rem;
            }
            
            .item-content {
                transition: 0.25s linear height;
                padding: 0.2rem;
                padding-bottom: 0;
                font-size: 0.75rem;
                overflow: hidden;
                height: 0px;
            }

            &.selected .item-title {
                background-color: rgba(255, 255, 255, 0.25);
            }

            &.selected .item-content {
                padding: 0.2rem;
                height: 4rem;
            }
        }
    }
}

.preview {
    width: 54%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .info {
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        background-color: rgba(85, 85, 85, 0.6);
        border: 1px solid rgb(0, 0, 0);
        margin: 5px auto 5px auto;
        width: 75%;

        .info-title {
            padding: 0.3rem;
            padding-bottom: 0;
        }
        
        .info-content {
            text-align: left;
            transition: 0.25s linear max-height;
            padding: 0.2rem;
            font-size: 0.75rem;
            overflow: hidden;
            max-height: 0px;
        }

        &.selected .info-title {
            padding: 0.3rem;
            background-color: rgba(255, 255, 255, 0.25);

            &:hover {
                background-color: rgba(255, 255, 255, 0.25);
            }
        }

        &.selected .info-content {
            padding: 0.2rem;
            max-height: 5rem;
        }

        &:hover:not(.selected) {
            background-color: rgba(255, 255, 255, 0.25);
        }
    }

    .back {
        padding: 0.3rem;
        width: 45%;
        user-select: none;
    }
}