@import 'globals.scss';

html {
    font-family: $main-font, 'Courier New', Courier, monospace;
    color: $font-color;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #1c1917;
}

.draggable {
    cursor: grab;
}

.arsenal {
    height: 100vh;

    .background {
        position: absolute;
        z-index: -2;
        margin: 0px;
        width: 100vw;
        height: 100vh;
        background-size: 40px 40px;
        background-image: radial-gradient(circle, #1c1917 1px, rgba(0, 0, 0, 0) 1px);
        background-color: rgb(168, 162, 158);
    }
    
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.arsenal-tooltip {
    background-color: rgba(85, 85, 85, 0.6);
    border-radius: 2px;
    font-size: 0.75rem;
    outline: none;
    border: none;
}

.categories, .category-panel, .center-panel {
    height: 100%;
    float: left;
}

.categories {
    width: 2.75%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.category-panel {
    width: 20%;
    padding: 5px 0px 5px 0px;
    
    .panel {
        background-color: rgba(85, 85, 85, 0.6);
        border: 1px solid rgb(0, 0, 0);
        height: 100%;

        & > .title {
            padding: 0.15rem;
            background-color: rgba(23, 23, 23, 0.6);
            font-weight: 500;
            font-size: 1.3rem;
            text-align: center;
        }
    }
}

.center-panel {
    width: 54.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}