@mixin scrollbar(
    $width: 0.6rem,
    $foreground-color: rgb(43, 43, 43),
    $background-color: rgba(43, 43, 43, 0)
) {
    &::-webkit-scrollbar {
        width: $width;
        background-color: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $background-color;
    }
}