div.context-menu {
  position: absolute;
  background-color: $background-primary;
  border: solid 0.1rem $background-secondary;
  color: $text-primary;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;

  .header {
    text-align: center;
    border-bottom: solid 0.1rem $background-secondary;
  }

  .item {
    padding: 0.5rem 0.75rem;;
  }

  hr {
    border-top: solid 0.1rem $background-secondary;
  }
}