.modal-bg {
  background: repeating-linear-gradient(
    315deg,
    #AAAAAA35,
    #AAAAAA35 8px,
    #FFFFFF55 8px,
    #FFFFFF55 16px
  );
}

.modal {
  background: #222222FF;
  border: solid 1px black;
  vertical-align: middle;
  min-width: 33%;
  min-height: 33%;

  .header {
    height: 1.5rem;
    background-color: #555555FF;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: #DDDDDDFF;
      margin-left: 0.25rem;
      font-size: small;
      cursor: default;
    }

    svg {
      color: white;
      height: 100%;
      display: inline-block;
      cursor: pointer;

      &:hover {
        background-color: tomato;
      }
    }
  }

  .content {
    padding: 0.75rem;

    .modal-group {
      margin-top: 0.5rem;
      label {
        display: block;
        color: #DDDDDDFF;
      }

      input[type="text"] {
        background-color: #373737;
        color: #DDDDDDFF;
        padding: 0.25rem;
        display: block;
        width: 100%;
  
        &:focus {
          border: none;
          outline: none;
        }
      }

      textarea {
        background-color: #373737;
        color: #DDDDDDFF;
        font-size: smaller;
        padding: 0.25rem;
        display: block;
        width: 100%;

        &:focus {
          border: none;
          outline: none;
        }
      }

      div.categories {
        padding: 0.25rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        width: 100%;
        min-height: 5rem;
        background-color: #373737;

        img {
          width: 2rem;
          height: 2rem;
          border: solid 1px black;
          background-color: #505050;
          cursor: pointer;
          
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      div.uploadbox {
        width: 100%;
        min-height: 5rem;
        background-color: #373737;
        display: flex;
        align-items: center;
        justify-content: center;
        border: dashed 1px #999999;

        svg {
          width: 2rem;
          color: #999999;
          border: dashed 1px #999999;
        }
      }

      div.previewbox {
        width: 100%;
        min-height: 10rem;
        background-color: #373737;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: dashed 1px #999999;

        span {
          color: #999999;
          font-size: small;
        }

        img {
          max-height: 9rem;
          color: #999999;
          border: dashed 1px #999999;
        }

        svg {
          max-height: 2rem;
          color: #999999;
          border: dashed 1px #999999;
        }
      }

      button {
        margin-top: 0.25rem;
        width: 100%;
        background-color: #373737;
        color: #DDDDDDFF;

        &:hover {
          background-color: #505050;
        }
      }
    }

    .modal-buttonRow {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;

      button.primary {
        margin-top: 0.25rem;
        padding: 0.25rem;;
        background-color: #373737;
        color: #DDDDDDFF;

        &:hover {
          background-color: #505050;
        }
      }

      button.success {
        margin-top: 0.25rem;
        padding: 0.25rem;
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
        background-color: #336c20;
        color: #DDDDDDFF;

        &:hover {
          background-color: #5ea048;
        }
      }
      
      button.danger {
        margin-top: 0.25rem;
        padding: 0.25rem;;
        background-color: #6c2020;
        color: #DDDDDDFF;

        &:hover {
          background-color: #a04848;
        }
      }
    }

    hr {
      border: none;
      border-top: solid;
      border-color: #373737;
      border-width: 0.1rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

  }
}